@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;

}


.container {
    width: 350px;
    max-width: 100%;
    height: 90%;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    flex-direction: column;

}


.centre::-webkit-scrollbar {
    display: none;

}


.bottom-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    height: 100%;
    padding: 5px 10px;
}


.bottom-wrapper img {
    width: 19px;
    cursor: pointer;
}

.bottom-wrapper img.btm-profile {
    /* width: 100%; */
    /* height: 08vh; */
    /* background-color: rgb(108, 61, 1); */
    width: 22px;
    height: 22px;
    border-radius: 50%;
}


.bottom-wrapper img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}






.top-slider {
    height: 2px;
    width: 0;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    animation: loading 0.3s ease-in 1;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation-fill-mode: backwards;s */
}


@keyframes loading {
    0% {
        width: 0px;
    }

    60% {
        width: 50vw;
    }


    100% {
        width: 100vw;
    }



}


.top {
    width: 100%;
    /* min-height: 12vh; */
    background-color: rgb(255, 255, 255);
    /* border-bottom: 0.5px solid rgb(242, 242, 242);s */
    padding: 0 15px;

}




.bottom {
    width: 100%;
    height: 07vh;
    /* background-color: rgb(108, 61, 1);s */
    background-color: white;
}




.centre {
    flex: 1;
    font-size: 30px;
    overflow-y: scroll;
    padding: 0 14px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:20px;

}





.notification {
    /* background-color: red; */
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 07px;
}


.notification-left {
    display: flex;
    gap: 40px;
}

.notification p {
    color: #0594f2;
    cursor: pointer;
}

.notification .arrow {
    font-weight: 500;
    color: black;
    font-size: 18px;
    cursor: pointer;
}



.down-arrow{
    height: 10px;
    transform: rotate(180deg);
    margin: 0 3px;
}

.notification-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.vinit{
    font-size: 19px;
}

.notification-right img{
    height: 18px;
}

.notification-right img:first-child{
    height: 22px;
}


.search{
    width: 100%;
    position: relative;
    margin-top: 12px;
}

.search input{
    width: 100%;
    background-color: #efefef;
    border: none;
    padding: 9px 35px;
    border-radius: 10px;
    font-size: 14px;
}


.search input:focus{
    outline: none;
}

.serach-img{
    height: 15px;
    position: absolute;
    top: 9px;
    left: 8px;
}

.note{
    /* background-color: rgb(161, 147, 147); */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.note1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #bc1888; */
    /* width: 70px; */
    flex: 1;
    font-size: 11px;
}

.note  .circle1{
    height: 59px;
    width: 59px;
    /* background-color: red; */
  
    border-radius: 50%;
    margin-bottom: 3px;
}


.note .note1:nth-child(1) .circle1{
    background-image: url("./images/msg/08.jpg");
    background-size: cover;
    margin-right: 10px;
    color: grey;
    /* padding-right: ; */
}


.note .note1:nth-child(2) .circle1{
    background-image: url("./images/msg/02.jpg");
    background-size: cover;
}



.note .note1:nth-child(3) .circle1{
    background-image: url("./images/msg/03.jpg");
    background-size: cover;
}

.note .note1:nth-child(4) .circle1{
    background-image: url("./images/msg/04.jpg");
    background-size: cover;
}

.note  p{
    font-size: 12px;
    
    /* text-align: center; */
}

.centre{
    /* background-color: red; */
}

.centre .msg{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.msg h4{
    font-weight: 500;
}
.msg p{
    color: #0594f2;
    font-size: 15px;
}

.main-msg .left-profile-image{
    height: 46px;
    width: 46px;
    background-color: rgb(142, 82, 82);
    border-radius: 50%;
}

.camera{
    width: 22px;
    margin-left: auto;
}



.main-msg{
    /* background-color: red; */
    font-size: 12px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.main-msg .content{
    margin-left: 17px;
}

.main-msg .content .profile-name{
    font-size: 13px;
    font-weight: 400;
    
}

.main-msg .content .profile-msg{
    font-size: 13px;
    font-weight: 400;
    color: grey;
    margin-top: 2px;
}



.main-msg .left-profile-image{
   background-image: url("./images/msg/03.jpg");
   background-size: cover;
}


.main-msg:nth-child(2) .left-profile-image{
    background-image: url("./images/msg/01.jpg");
    background-size: cover;
 }

 .main-msg:nth-child(3) .left-profile-image{
    background-image: url("./images/msg/02.jpg");
    background-size: cover;
 }


 .main-msg:nth-child(4) .left-profile-image{
    background-image: url("./images/msg/04.jpg");
    background-size: cover;
 }


 .main-msg:nth-child(5) .left-profile-image{
    background-image: url("./images/msg/05.jpg");
    background-size: cover;
 }


 .main-msg:nth-child(6) .left-profile-image{
    background-image: url("./images/msg/09.jpg");
    background-size: cover;
 }

 .main-msg:nth-child(6) .left-profile-image{
    background-image: url("./images/request/02.jpg");
    background-size: cover;
 }


 .main-msg:nth-child(7) .left-profile-image{
    background-image: url("./images/request/01.jpg");
    background-size: cover;
 }

 /* .main-msg:nth-child(10) .left-profile-image{
    background-image: url("./images/request/02.jpg");
    background-size: cover;
 } */